<div class="row">

    <carousel>
        <slide>
            <img src="http://placehold.it/1200x400/16a085/000000&text=Sobre Nós" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Organize Conosco!</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
        </slide>
        <slide>
            <img src="http://placehold.it/1200x400/e67e22/000000&text=Eventos" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Eventos Técnicos</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
        </slide>
        <slide>
            <img src="http://placehold.it/1200x400/2980b9/000000&text=Ganhe Dinheiro" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Venda seus Eventos</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
        </slide>
    </carousel>
</div>