<!-- Exemplo de formulario https://jasonwatmore.com/post/2020/04/23/angular-9-template-driven-forms-validation-example -->
<!-- https://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/ -->

<div class="container">
    <div class="ordem-compra" *ngIf="idPedidoCompra === undefined">
        <form novalidate #formulario="ngForm" (ngSubmit)="formulario.form.valid && confirmarCompra(formulario)">

            <h5>Sua Compra</h5>
            <hr />

            <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
                <div class="form-group col-sm-1">
                    <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
                </div>
                <div class="form-group col-sm-6">
                    Super Burger
                    <br /> Rodízio de Mini-hambúrger com opção de entrada.
                </div>

                <div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-link">-</button> 1
                            <button type="button" class="btn btn-link">+</button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 d-flex justify-content-end">
                    29.90
                </div>
            </div>

            <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
                <div class="form-group col-sm-1">
                    <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
                </div>
                <div class="form-group col-sm-6">
                    Estância das águas
                    <br /> Diversão garantida com piscinas, trilhas e muito mais.
                </div>

                <div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-link">-</button> 1
                            <button type="button" class="btn btn-link">+</button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-3 d-flex justify-content-end">
                    31.90
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col d-flex justify-content-end">
                    <h4>Total do pedido: 61.80</h4>
                </div>
            </div>
            <br />

            <!-- <pre>
            {{ formulario.value | json }}
            </pre> -->

            <h5>Dados de entrega</h5>
            <hr />

            <div class="form-row">

                <div class="form-group col-md-6">
                    <!-- [ngClass]="{ 'is-invalid': formulario.submitted && endereco.invalid }" -->
                    <input type="text" class="form-control" placeholder="Endereço" autocomplete="off" minlength="5" maxlength="120" required name="endereco" [(ngModel)]="model.endereco" #inputEndereco="ngModel">
                    <div [hidden]="inputEndereco.valid || inputEndereco.pristine" class="alert alert-danger">
                        Endereço inválido
                    </div>
                    <!-- <small class="form-text text-danger">Endereço inválido</small> -->
                </div>

                <div class="form-group col-md-2">
                    <input type="text" class="form-control" placeholder="Número" autocomplete="off" minlength="1" maxlength="20" required name="numero" [(ngModel)]="model.numero" #inputNumero="ngModel">
                    <!-- <div [hidden]="inputNumero.invalid || inputNumero.pristine" class="form-text text-success">Ok</div> -->
                    <small *ngIf="inputNumero.valid && inputNumero.touched" class="form-text text-success"> Ok </small>
                    <small *ngIf="inputNumero.invalid && inputNumero.touched" class="form-text text-danger"> Número inválido </small>
                </div>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Complemento" autocomplete="off" name="complemento" [(ngModel)]="model.complemento" #InputComplemento="ngModel">
                </div>

            </div>
            <br />

            <h5>Dados de pagamento</h5>
            <hr />

            <div class="form-row">

                <div class="form-group col-md-3">
                    <select class="form-control" required name="formaPagamento" [(ngModel)]="model.formaPagamento" #inputFormaPagamento="ngModel">
                    <!-- <option value="">Selecione uma opção</option> -->
                    <option value="dinheiro">Dinheiro</option>
                    <option value="debito">Débito</option>
                  </select>
                    <div [hidden]="inputFormaPagamento.valid || inputFormaPagamento.pristine" class="alert alert-danger">
                        Forma de pagamento inválida
                    </div>
                    <!-- <small *ngIf="inputFormaPagamento.valid && inputFormaPagamento.touched" class="form-text text-success"> Ok </small>
                    <small *ngIf="inputFormaPagamento.invalid && inputFormaPagamento.touched" class="form-text text-danger"> Forma de pagamento inválida </small> -->

                </div>
            </div>

            <hr />
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formulario.form.valid">Cofirmar compra</button>
        </form>
    </div>


    <div class="ordem-compra" *ngIf="idPedidoCompra !== undefined">
        <app-ordem-compra-sucesso [idPedidoCompra]="idPedidoCompra"></app-ordem-compra-sucesso>
    </div>

</div>